// src/styles/_variables.scss
// Fichier pour les variables Sass
$glass-background-color: rgba(255, 255, 255, 0.2); // Blanc semi-transparent
$glass-border-color: rgba(255, 255, 255, 0.3);    // Bordure plus opaque
$glass-shadow-color: rgba(0, 0, 0, 0.2);        // Ombre subtile
$text-color: #fff;                               // Couleur du texte clair
$link-color: #e0f2f7;                            // Couleur des liens
$link-hover-color: #b3e5fc;                      // Couleur des liens au survol
